<% include partials/_header %>
<% include partials/_error %>

<% if (locals.user === undefined){ %>
  <a href="/login" >You must login to view urls.</a>
<% }else{ %>
<% for (let key in user.userUrls){ %>
  <% const longUrl = user.userUrls[key].longUrl; %>
  <a href="/urls/<%=key%>">Edit</a>
  <p><%=key%> - <%= longUrl %>
  <a class="btn btn-primary" href="/u/<%=key%>"> Do the Redirect! </a></p>
  <form method="POST" action="/urls/<%=key%>/delete" >
    <input type="submit" value="Delete" />
  </form>
<% }} %>
<a href="/urls/new">Create a new Short Link</a>
