<% include partials/_header %>
<% include partials/_error %>

<% if (locals.user === undefined){ %>
  <a href="/login" >You must login to view urls.</a>
<% }else{ %>
<% for (let key in user.userUrls){ %>
  <% const longUrl = user.userUrls[key].longUrl; %>
  <% const timesVisited = urls[key].timesVisited(); %>
  <% const uniqueVisitors = urls[key].uniqueVisitors(visitsDB, timesVisited); %>
  <a href="/urls/<%=key%>">Edit</a>
  <p><%=key%> - <%= longUrl %> - Times Visited: <%= timesVisited %> -
    Unique Visitors: <%= uniqueVisitors %>
  <a class="btn btn-primary" href="/u/<%=key%>" target="_blank"> Do the Redirect! </a></p>
  <form method="POST" action="/urls/<%=key%>?_method=DELETE" >
    <input type="submit" value="Delete" />
  </form>
<% }} %>
<a href="/urls/new">Create a new Short Link</a>
